html, body {
    height : 100%;
}

#btn {
	background-color:white;
	color:#545454;
	text-align:center;
	text-decoration:none;
}
.headd {
	float : center;
	font-family: Gungsuh;
	}
.han {
	color : red;
}
.ryu {
color : blue;
}
ul {
    list-style-type: none;
    margin-right : 10px;
    padding: 0;
    background-color: #696969;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	cursor: pointer;
}
li a:hover:not(.active) {
    background-color: #E0E0E0;
}
.active {
    background-color: #FFA1A1;
}


h1 {
	font-size : 70px;
    text-align : center;
}
.p1 {
	text-align : center}


header {
    background : #FFFFFF;
}

div {
	display : inline-block;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	}
.divp {
	float:bottom;
	display:inline-block;
	width:300px;
	overflow:hidden;
	white-space:normal;
	}


.section2 {
	width:65%;
	float:left;
	}

aside {
	width:30%;
	float:right;
	padding-bottom : 20px;
	padding-right : 20px;
	padding-left : 20px;
	border-width : thin;
	border-style : solid;
	border-color : #FFA1A1;
	margin-top : 10px;
	margin-right : 10px;
	margin-bottom : 10px;
}
.section1 {
	background-image : url("16.jpg");
	background-repeat : no-repeat;
	background-position:center top;
	background-size : contain;
	height : 40%;
	clear : both;
	text-align : center;
	border-width : thin;
	border-style : solid;
	border-color : #FFA1A1;
	margin-right : 10px;
	margin-bottom : 10px;
	padding : 20px;
	}
.section3 {
	clear : both;
	text-align : center;
	border-width : thin;
	border-style : solid;
	border-color : #FFA1A1;
	margin-right : 10px;
	margin-right : 10px;
	padding-top : 20px;
	padding-bottom:10px;
	}


article {
	padding : 20px;
	border-width : thin;
	border-style : solid;
	border-color : #FFA1A1;
	margin-top : 10px;
	margin-bottom : 10px;
	}
h2 {
	margin-left: 10px;
	color : white;
	background-color : #FFA1A1;
	text-align : center;
	}
h4 {
	font-size:25px;
	margin-top:10px;
	margin-left: 10px;
	margin-right: 10px;
	color : white;
	background-color : #FFA1A1;
	text-align : center;
	}
.a {
	margin-left: 10px;
	margin-right: 30px;
	text-indent: 20px;
}
.s {
	margin-left : 10px;
	}
.aa {
	margin-left: 10px;
	margin-right: 30px;
	text-indent: 20px;
	color : #6e6e6e;
	}
.a0 {
	margin-left: 10px;
	margin-right: 30px;
	color : #6e6e6e;
	}

p {
    font-family : san-serif;
    font-size : 1em;
}
h3 {
	font-size : 16px;
	color : #6e6e6e;
}

.form1{
	border-width : thin;
	border-style : solid;
	border-color : #FFA1A1;
	margin-top : 10px;
	padding-bottom : 20px;
	}
.resetbutton {

	cursor : pointer;
	float: right;
	margin-right : 10px;
	}
.img1 {
	cursor: pointer;
	max-width:100%; 
	height:auto;

	}

footer {
	padding : 20px;
	font-size : 12px;
	clear : both;
	color : #6e6e6e;
	margin-right : 10px;
	}